# Local Configuration file
environment_settings.xml

# Mount Folder
Mount/install/
Mount/recoveryiso/
Mount/recoverymedia/
Mount/winre/
Mount/boot/

# Windows images and configured binaries
Bin/*.wim
Bin/*.iso
Bin/*.exe
Bin/*.esd

# Custom Drivers
Bin/Drivers/
